# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# LangSmith / LangGraph / Jupyter
*.ipynb
.jupyter_cache
.langchain.db

# Logs
logs/
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Typings
.mypy_cache/
